body {
	background-image: url("background.jpg")
}

.title {
	color:white;
	padding: 5px;
	font-family: Helvetica;
	font-size: 0.75em
}

.readout {
	background: black;
	width: 150px;
	height: 150px;
	padding: 5px;
	border-radius: 10px;
	float: left;
	display: block;
}

.select {
	background: black;
	color: white;
	border-width: 4px;
	border-color: black;
	width: 100px;
	height: 50px;
	font-size: 1em;
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	margin-left: 5px;
	float: left;
}

.currency {
	padding: 3px;
	color: gold;
	font-size: 1em;
}

.production {
	color: gold;
	font-size: 0.75em
}

.research {
	color: powderblue;
}

.researchProduction {
	color: powderblue;
	font-size: 0.75em
}

.power {
	color: white;
}

.powerProduction {
	color: white;
	font-size: 0.75em
}

.maxpower{
	color: white;
}

.menu {
	height: 160px;
}

.informationBox {
	height: 70px;
	color: white;
	background: black;
	border-radius: 10px;
	padding: 5px;
}

.menuBox {
	height: 80px;
}

.sidebar {
	float: none;
	background: black;
	color: white;
	padding: 5px;
	border-radius: 10px;
	width: 150px;
	height: 300px;
	margin-top: 5px;
}

.components {
	font-size: 0.5em;
	padding: 10px;
}

#powerbar {
	height: 5px;
	margin: 5px;
	background: white;
	border-radius: 5px;
}

#powerbarFill {
	height: 5px;
	width: 1%;
	background-color: yellow;
}

.playArea {

}

.gameArea{
	
}

.Components {
	background: black;
	border-radius: 10px;
	padding: 5px;
	width: 150px;
	height: 420px;
	float: left;
	display: block;
}

.tile {
	height: 25px;
	width: 25px;
	float: left;
	display: block;
}

.water {
	background: powderblue;
}

#sellButton {
	background: gray;
	width: 100px;
	text-align: center;
	color: white;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	margin-left: 20px;
	height: 25px;
	border-radius: 10px;
}

#saveButton, #loadButton{
	background: gray;
	width: 100px;
	text-align: center;
	color: white;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	margin-left: 20px;
	height: 25px;
	border-radius: 10px;
}
